<div class="container">
  <h1 class="mt-3 text-center bg-success border border-secondary">こもの一覧</h1>
  <div class="col-10-md">
    <%= form_with url: shoppingmemos_path, method: :post %>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th></th>
            <th>画像</th>
            <th>もの</th>
            <th>ニックネーム</th>
            <th>カテゴリ</th>
            <th>いまの在庫数</th>
            <th></th>
            <th></th>
            </tr>
          </thead>
          <tbody>
            <% @sub_items.each do |sub_item| %>
              <tr>
                <td>
                  <%= check_box_tag "sub_items[#{sub_item.id}]", class:"select_item" %>
                </td>
                <td>
                  <!--画像、こもので登録しているかを見て、なければものの画像を表示する処理 -->
                  <% if sub_item.sub_item_image.attached? %>
                    <%= image_tag sub_item.sub_item_image, size: "50x80" %>
                  <% elsif sub_item.item.item_image.present? %>
                    <%= image_tag sub_item.item.item_image, size: "50x80" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "50x80" %>
                  <% end %>
                </td>
                <td><%= sub_item.item.name %></td>
                <td><%= sub_item.subname %></td>
                <td><%= sub_item.item.category.name %></td>
                <td><%= sub_item.inventory %></td>
                <td>
                  <%= link_to "詳細", subitem_path(sub_item.id), class: "btn btn-primary btn-sm" %>
                </td>
                <td>
                  <%= link_to "削除", destroy_subitem_path(sub_item.id), "data-confirm" => "削除します。よろしいですか？", method: :delete, class: "btn btn-danger btn-sm" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= submit_tag "買い物メモに登録", class: "btn btn-secondary" %>
  </div>
</div>