<div class="container">
  <h1 class="mt-3 text-center bg-info border border-secondary">こもの新規登録</h1>
  <% if @sub_item.errors.any? %>
    <%= @sub_item.errors.count %>件のエラーが発生しました
    <ul>
    <% @sub_item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
  <div class="col-10-md">
    <%= form_with model: @sub_item, url: create_subitem_path, local: true do |f| %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>もの（必須）</th>
              <td>
                <%= f.collection_select(:item_id, Item.all, :id, :name, prompt: "選択してください") %><br>
                選択すると保存方法や良いものの選び方等をチェックしやすくなります。
              </td>
            </tr>
            <tr>
              <th>ニックネーム</th>
              <td>
                &emsp;<%= f.text_field :subname, :size => "30", placeholder: "鶏もも肉、アラエール（商品名）等" %>
              </td>
            </tr>
            <tr>
              <th>単位（必須）</th>
              <td>
                <%= f.text_field :unit , placeholder: "グラム、本など" %>
              </td>
            </tr>
            <tr>
              <th>画像選択</th>
              <td>
                &emsp;<%= f.file_field :image_id, accept: 'image/*' %><br>
                注意：画像を選択しない場合は、選択した「もの」の画像が自動的に利用されます。
              </td>
            </tr>
            <tr>
              <th>いまの在庫数</th>
              <td>
                &emsp;<%= f.text_field :inventory %>
              </td>
            </tr>
            <tr>
              <th>
                在庫アラート<br>
              </th>
              <td>
                &emsp;<input type="radio" class="btn-check" id="inv_alert_off" value="false" name="sub_item[alert_inventory]" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="inv_alert_off">OFF</label>
                &emsp;<input type="radio" class="btn-check" id="inv_alert_on" value="true" name="sub_item[alert_inventory]" autocomplete="off">
                <label class="btn btn-outline-primary" for="inv_alert_on">ON</label><br>
                <span id="invBox">
                  &emsp;在庫数が<%= f.text_field :inv_constant %>個になったら通知する
                </span>
              </td>
            </tr>
            <tr>
              <th>使用期限アラート</th>
              <td>
                &emsp;<input type="radio" class="btn-check" id="date_alert_off" value="false" name="sub_item[alert_expiration]" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="date_alert_off">OFF</label>
                &emsp;<input type="radio" class="btn-check" id="date_alert_on" value="true" name="sub_item[alert_expiration]" autocomplete="off">
                <label class="btn btn-outline-primary" for="date_alert_on">ON</label><br>
                  <span id="dayBox">
                    <div class="ms-1">
                      &emsp;<%= f.date_field :expiration_days, id: "date" %>になったら通知する
                    </div>
                  </span>
                  </div>
              </td>
            </tr>
            <tr>
              <th>メモ</th>
              <td>
                <%= f.text_area :memo %>
              </td>
            </tr>
          </thead>
        </table>
        <%= f.submit "登録", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>