<div class="container-fluid">
  <h1 class="mt-3 text-center bg-success border border-secondary">こもの詳細/編集</h1>
  <% if @sub_item.errors.any? %>
  <%= @sub_item.errors.count %>件のエラーが発生しました
  <ul>
    <% @sub_item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
  <div class="row">
    <%= form_with model: @sub_item, url: update_subitem_path(@sub_item.id), local: true do |f| %>
    <div class="col-md-6">

      <div class="komono_image">
          <% if @sub_item.sub_item_image.attached? %>
            <%= image_tag @sub_item.sub_item_image, size: "500x300" %>
          <% elsif @sub_item.item.item_image.present? %>
            <%= image_tag @sub_item.item.item_image, size: "500x300" %>
          <% else %>
            <%= image_tag 'no_image', size: "500x300" %>
          <% end %>
        <%= f.file_field :sub_item_image, class: "komono_image" %>
        <%= f.submit "更新", class: "btn btn-secondary" %>
      </div>
      <h2 class="mt-3 text-center bg-light border border-secondary box-shadow">
        <%= @sub_item.item.name %>
      </h2>
      <h2 class="mt-3 text-center bg-light border border-secondary box-shadow">
        <%= f.text_field :subname, placeholder: "ニックネーム" %>
        <%= f.submit "更新", class: "btn btn-secondary" %>
      </h2>

      <h5 class="mt-3 text-center bg-right border border-secondary" style="background-color:<%= @sub_item.item.category.color_code %>">
        <%= @sub_item.item.category.name %>
      </h5>
      </div>
      <div class="col-md-6">
        <div class="border border-secondary">
          <h4 class="font-weight-bold text-center"><i class="far fa-hand-point-up fa-2x"></i>いまの在庫</h4>
          <div class="field">
            <div class="d-flex justify-content-center">
              <span class="btn btn-secondary" id="down">－</span>
              <div class="d-flex flex-column">
                <h3><%= f.number_field :inventory, id: "inventory", size: "1" %></h3>
                <span class="button resetbtn btn btn-danger btn-sm" id="reset" >0にする</span>
              </div>
              <span class="btn btn-secondary" id="up">＋</span>
              <h3>
                <%= @sub_item.unit %>
                <%= f.submit "更新", class: "btn btn-secondary" %>
              </h3>
            </div>
        </div>
        <div class="border border-secondary bg-light">
          <h4 class="font-weight-bold text-center"><i class="fas fa-cubes fa-2x"></i>在庫アラート</h4>
          <!--★各アラート（2か所）でトグルスイッチの導入を試みたが、見た目だけでformとして機能していない-->
          <!--★ON/OFFのトグルスイッチ（時間があったら修正）-->
          <!--<div class="d-flex justify-content-center">-->
          <!--  <div class="form-check form-switch">-->
          <!--    <input class="form-check-input" type="checkbox" id="alert_inventory" name="alert_inventory">-->
          <!--    <label class="form-check-label" for="alert_inventory">使用する</label>-->
          <!--  </div>-->
          <!--</div>-->
          <div class="d-flex justify-content-center">
          <h3><%= f.text_field :inv_constant, size: "1" %></h3>
          <h3><%= @sub_item.unit %></h3>
          <%= f.submit "更新", class: "btn btn-sm btn-secondary" %>
          </div>
        </div>
        <div class="border border-secondary bg-light">
          <h4 class="font-weight-bold text-center"><i class="fas fa-stopwatch fa-2x"></i>使用期限アラート</h4>
          <!--★ON/OFFのトグルスイッチ（時間があったら修正・実装）-->
          <!--<div class="d-flex justify-content-center">-->
          <!--  <div class="form-check form-switch">-->
          <!--    <input class="form-check-input" type="checkbox" id="alert_expiration" name="alert_expiration">-->
          <!--    <label class="form-check-label" for="alert_expiration">使用する</label>-->
          <!--  </div>-->
          <!--</div>-->
        <div class="d-flex justify-content-center">
          <h3><%= f.date_field :expiration_days, size: "1" %></h3>
          <h3></h3>
          <%= f.submit "更新", class: "btn btn-sm btn-secondary" %>
        </div>
      </div>
        <div class="border border-secondary bg-light">
          <h4 class="font-weight-bold text-center"><i class="far fa-sticky-note fa-2x"></i>メモ</h4>
          <div class="d-flex justify-content-center">
            <p><%= f.text_area :memo, class: "ml-auto" %></h3>
            <h3></h3>
            <%= f.submit "更新", class: "btn btn-sm btn-secondary" %>
          </div>
          <% end %>
        </div>
      <!--タブ部分-->
      <ul class="text-center nav nav-pills mb-3" id="pills-Tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
          class="nav-link active"
          id="pm-tab"
          data-bs-toggle="pill"
          data-bs-target="#pm_method"
          type="button"
          role="tab"
          aria-controls="pm_method"
          aria-selected="true"
          >
            保存方法
          </button>
        </li>
        <li class="nav-item">
          <button
          class="nav-link"
          id="htc-tab"
          data-bs-toggle="pill"
          data-bs-target="#htc"
          type="button"
          role="tab"
          aria-controls="htc"
          aria-selected="false"
          >
            選び方
          </button>
        </li>
        <li class="nav-item">
          <button
          class="nav-link"
          id="limit-tab"
          data-bs-toggle="pill"
          data-bs-target="#limit"
          type="button"
          role="tab"
          aria-controls="limit"
          aria-selected="false"
          >
            使用期限（目安）
          </a>
        </li>
      </ul>
      <!--タブで選択された要素部分-->
      <div class="tab-content" id="pills-TabContent">
        <div
        class="tab-pane fade show active"
        id="pm_method"
        role="tabpanel"
        aria-labelledby="pills-pm-tab"
        >
          <%= @sub_item.item.preserve_method %>
        </div>
        <div class="tab-pane fade show"
        id="htc"
        role="tabpanel"
        aria-labelledby="pills-htc-tab"
        >
          <%= @sub_item.item.how_to_choose %>
        </div>
        <div class="tab-pane fade show"
        id="limit"
        role="tabpanel"
        aria-labelledby="pills-limit-tab">
          <%= @sub_item.item.limit %>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
<%= javascript_pack_tag 'main' %>