<div class="container">
  <h1 class="mt-3 text-center bg-success border border-secondary">もの一覧</h1>

  <div class="col-10-md">
    <%= link_to "もの新規登録", new_admin_item_path ,class: "btn btn-primary"%>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>ものID</th>
            <th></th>
            <th>なまえ</th>
            <th>画像</th>
            <th>カテゴリ</th>
            <th></th>
            </tr>
          </thead>
          <tbody>
          <tr>
          <% @items.each do |item| %>
          <td><%= item.id %></td>
          <td>
            <% if item.item_image.attached? %>
              <%= image_tag item.item_image, size: "80x50" %>
            <% else %>
              <%= image_tag 'no_image', size: "80x50" %>
            <% end %>
          </td>
          <td><%= item.name %></td>
          <td>
            <% if item.category %>
            <div class="Button" style="background-color: <%= item.category.color_code %>">
              <%= item.category.name %>
            </div>
            <% end %>
          </td>
          <td>
            <%= link_to "詳細へ", admin_item_path(item.id), class: "btn btn-success" %>
          </td>
          </tr>
          </tbody>
          <% end %>
        </table>
        <%= paginate @items, theme: 'bootstrap-5' %>
      </div>

  </div>
</div>