<div class="container">
  <h1 class="mt-3 text-center bg-secondary border border-secondary">会員一覧</h1>
  <div class="col-10-md">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>会員ID</th>
            <th>ニックネーム</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
            <th></th>
            <th></th>
            </tr>
          </thead>
          <tbody>
          <tr>
          <% @users.each do |user| %>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <% if user.is_active == true %>
              <p class="text-success fw-bold">有効</p>
            <% else %>
              <p class="text-secondary fw-bold">退会</p>
            <% end %>
          </td>
          <td>
            <%= link_to "詳細", admin_user_path(user.id), class: "btn btn-success" %>
          </td>
          </tr>
          </tbody>
          <% end %>
        </table>
        <%= paginate @users, theme: 'bootstrap-5' %>
      </div>

  </div>
</div>