<!DOCTYPE html>
<html>
  <head>
    <title>まいくつ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/a69f599634.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--webpackerを使用する設定-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


    <div class="container-fluid">
    <body>
      <header class="shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="row">
            <div class="col-md-2">
             <!--まいくつロゴ-->
              <a class="navbar-brand px-5" alt="まいくつロゴ" href="/">
                <%= image_tag 'まいくつ（ロゴ）' %>
              </a>
            </div>
                  <!--  会員のログイン時に表示されるメニュー　-->
                <% if user_signed_in? %>

                  <div class="col">
                    <div class="row">
                      <div class="col-12">
                        <div class="btn-group px-2.5">
                          <ul class="navbar list-unstyled">
                            <li class="nav-item btn btn-outline-secondary rounded btn-sm mr-3">
                              <%= link_to new_subitem_path, class: 'nav-link' do %>
                                <i class="far fa-bell fa-3x"></i><br>
                                  通知
                              <% end %>
                            </li>
                            <li class="nav-item btn btn-outline-secondary rounded btn-sm mr-3">
                              <%= link_to new_subitem_path, class: 'nav-link' do %>
                                <i class="fas fa-cube fa-3x"></i><br>
                                こもの登録
                              <% end %>
                            </li>
                            <li class="nav-item btn btn-outline-secondary rounded btn-sm mr-3">
                              <%= link_to subitems_path, class: 'nav-link' do %>
                                <i class="fas fa-cubes fa-3x"></i><br>
                                こもの一覧
                              <% end %>
                            </li>
                            <li class="nav-item btn btn-outline-secondary rounded btn-sm">
                              <%= link_to shoppingmemos_index_path, class: 'nav-link' do %>
                                <i class="fas fa-clipboard fa-3x"></i><br>
                                 買い物メモ
                               <% end %>
                            </li>
                            <li class="nav-item btn btn-outline-secondary rounded btn-sm ml-2">
                              <%= link_to destroy_user_session_path, class: 'nav-link' do %>
                                <i class="fas fa-sign-out-alt fa-3x"></i><br>
                                ログアウト
                              <% end %>
                            </li>
                          </ul>
                        </div>
                        <div class="row"><%= current_user.name %>さんの管理ページ</div>

                      </div>
                    </div>
                  </div>
                  <!--　管理者のログイン時に表示されるメニュー　-->
                <% elsif admin_signed_in? %>
              <div class="col-1">
              </div>
                <div class="col">
                  <div class="row">
                    <div class="col-12">
                      <div class="btn-group px-2.5">
                        <ul class="navbar list-unstyled">
                          <li class="nav-item btn btn-outline-secondary rounded btn-sm mr-2">
                            <%= link_to admin_items_path, class: 'nav-link' do %>
                              <i class="fas fa-cubes fa-3x"></i><br>
                              もの一覧
                            <% end %>
                          </li>
                          <li class="nav-item btn btn-outline-secondary rounded btn-sm mr-2">
                            <%= link_to admin_categories_path, class: 'nav-link' do %>
                              <i class="far fa-folder fa-3x"></i><br>
                              カテゴリ一覧
                            <% end %>
                          </li>
                          <li class="nav-item btn btn-outline-secondary rounded btn-sm mr-2">
                            <%= link_to admin_users_path, class: 'nav-link' do %>
                            <i class="fas fa-users fa-3x"></i><br>
                              会員一覧
                            <% end %>
                          </li>
                          <li class="nav-item btn btn-outline-secondary rounded btn-sm">
                            <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link' do %>
                              <i class="fas fa-sign-out-alt fa-3x"></i><br>
                              ログアウト
                            <% end %>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>

              <% else %>
                <!--  管理者と会員共通非ログイン時表示メニュー -->
                <div class="col-md-1">
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col-12">
                      <div class="btn-group px-2.5">
                        <ul class="navbar list-unstyled">
                          <li class="nav-item btn btn-outline-dark rounded btn-sm mr-4">
                            <%= link_to about_path, class: 'nav-link' do %>
                            <i class="far fa-hand-point-up fa-3x"></i><br>
                            ”まいくつ”とは？
                            <% end %><!--Aboutページ-->
                          </li>
                          <li class="nav-item btn btn-outline-dark rounded btn-sm mr-4">
                            <%= link_to "", class: 'nav-link' do %>
                            <i class="fas fa-cubes fa-3x"></i><br>
                            もの一覧
                            <% end %><!--もの一覧-->
                          </li>
                          <li class="nav-item btn btn-outline-dark rounded btn-sm mr-4">
                            <%= link_to new_user_registration_path, class: 'nav-link' do %>
                            <i class="fas fa-user fa-3x"></i><br>
                            新規登録
                            <% end %><!--会員用の新規登録ページへ--->
                          </li>
                          <li class="nav-item btn btn-outline-dark rounded btn-sm">
                            <%= link_to new_user_session_path, class: 'nav-link' do %>
                            <i class="fas fa-sign-in-alt fa-3x"></i><br>
                            ログイン
                            <% end %><!--会員のログインページ-->
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
              <% end %>



            </div>
          </div>
        </div>
      </nav>
    </header>
  </div>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <% notice %>
    <main class="mb-auto">

      <%= yield %>
    </main>

    </body>
  </div>
</html>