<!DOCTYPE html>
<html>
  <head>
    <title>まいくつ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/a69f599634.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  
    <div class="container">
    <body>
      <header class="shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
          <div class="row">
            <div class="col-md-2">
             <!--まいくつロゴ-->
              <a class="navbar-brand px-5 pe-3" alt="まいくつロゴ" href="/"><%= image_tag("no_image.jpg") %></a>
            </div>
          <!-- ヘッダーメニューの折り畳み、ブレーク　-->
        <button type="button" class="navbar-toggler"  data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <!--  会員のログイン時に表示されるメニュー　-->
                <% if user_signed_in? %>
              <div class="col-3">
                <p class="header-user-name">
                  <%= current_user.name %>さんのページ
                </p>
              </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-12">
                        <div class="btn-group px-2.5">
                          <ul class="navbar list-unstyled">
                            <li class="nav-item btn btn-outline-secondary rounded btn-sm mr-3">
                              <%= link_to "", class: 'nav-link' do %> もの登録<% end %><!--ものの登録ショートカット-->
                            </li>
                            <li class="nav-item btn btn-outline-secondary rounded btn-sm mr-3">
                              <%= link_to "", class: 'nav-link' do %> もの一覧<% end %><!--ものの一覧-->
                            </li>
                            <li class="nav-item btn btn-outline-secondary rounded btn-sm mr-3">
                              <%= link_to "", class: 'nav-link' do %> 在庫一覧<% end %><!--在庫の一覧-->
                            </li>
                            <li class="nav-item btn btn-outline-secondary rounded btn-sm">
                              <%= link_to "", class: 'nav-link' do %> 買い物メモ<% end %><!--買いたいものの一覧-->
                            </li>
                            <li class="nav-item btn btn-outline-secondary rounded btn-sm">
                              <%= link_to "", class: 'nav-link' do %> ログアウト<% end %><!--ログアウト-->
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  <!--　管理者のログイン時に表示されるメニュー　-->
                <% elsif admin_signed_in? %>
              <div class="col-1">
              </div>
                <div class="col">
                  <div class="row">
                    <div class="col-12">
                      <div class="btn-group px-2.5">
                        <ul class="navbar list-unstyled btn-group">
                          <li class="nav-item btn btn-outline-secondary rounded btn-sm mr-2">
                            <%= link_to "", class: 'nav-link' do %> もの一覧<% end %><!--ものの一覧-->
                          </li>
                          <li class="nav-item btn btn-outline-secondary rounded btn-sm mr-2">
                            <%= link_to "", class: 'nav-link' do %>カテゴリ一覧<% end %><!--カテゴリの一覧-->
                          </li>
                          <li class="nav-item btn btn-outline-secondary rounded btn-sm mr-2">
                            <%= link_to "", class: 'nav-link' do %>会員一覧<% end %><!--会員の一覧-->
                          </li>
                        <li class="nav-item btn btn-outline-secondary rounded btn-sm mr-2">
                          <%= link_to "", class: 'nav-link' do %>投稿一覧<% end %><!-- 投稿の一覧　-->
                        </li>
                        <li class="nav-item btn btn-outline-secondary rounded btn-sm">
                          <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link'  do %>ログアウト<% end %>
                        </li>
                      </ul>
                    </div>
                    </div>
                  </div>

                  
                  </div>
                </div>

              <% else %>
                <!--  管理者と会員共通非ログイン時表示メニュー -->
                <div class="col-md-1">
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col-12">
                      <div class="btn-group px-2.5">
                        <ul class="navbar list-unstyled">
                          <li class="nav-item btn btn-outline-dark rounded btn-sm mr-4">
                            <%= link_to "", class: 'nav-link' do %>”まいくつ”とは？<% end %><!--Aboutページ-->
                          </li>
                          <li class="nav-item btn btn-outline-dark rounded btn-sm mr-4">
                            <%= link_to "", class: 'nav-link' do %>もの一覧<% end %><!--会員用のもの一覧-->
                          </li>
                          <li class="nav-item btn btn-outline-dark rounded btn-sm mr-4">
                            <%= link_to "", class: 'nav-link' do %> 新規登録 <% end %><!--会員用の新規登録ページへ--->
                          </li>
                          <li class="nav-item btn btn-outline-dark rounded btn-sm">
                            <%= link_to "", class: 'nav-link' do %>ログイン<% end %><!--会員のログインページ-->
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                 
                </div>
              <% end %>



            </div>
          </div>
        </div>
      </nav>
    </header>
  </div>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <main class="mb-auto">

      <%= yield %>
    </main>

    </body>
  </div>
</html>